<?xml version='1.0' encoding='windows-1252' ?>
<!DOCTYPE JboPackage SYSTEM "jbo_03_01.dtd">

<JboPackage
   Name="server"
   SeparateXMLFiles="true"
   PackageName="oracle.apps.sfc.clm.InvoiceBulkUpload.server" >
   <DesignTime>
      <Attr Name="_ejbPackage" Value="false" />
      <Attr Name="_version" Value="10.1.3.43.6" />
   </DesignTime>
   <Containee
      Name="CLMCreditErrVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.CLMCreditErrVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMCreditInvoiceHomeVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.CLMCreditInvoiceHomeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMInvBulkUploadErrVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.CLMInvBulkUploadErrVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMInvBulkUploadStgEOVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.CLMInvBulkUploadStgEOVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMInvoiceHomeVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.CLMInvoiceHomeVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="CLMSuppLovVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.CLMSuppLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="FromLocationLovVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.FromLocationLovVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="InvoiceCreditReportVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.InvoiceCreditReportVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="InvoiceCreditReportVO_Old"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.InvoiceCreditReportVO_Old"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="InvoiceStandardReportVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.InvoiceStandardReportVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="InvoiceStandardReportVO_old"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.InvoiceStandardReportVO_old"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XXSifyCLMInvBulkUploadAM"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.XXSifyCLMInvBulkUploadAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XXSifyCLMInvCreditBulkUploadAM"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.XXSifyCLMInvCreditBulkUploadAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XxsifyLmsInvStgEOVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.XxsifyLmsInvStgEOVO"
      ObjectType="ViewObject" >
   </Containee>
   <Containee
      Name="XXTestAM"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.XXTestAM"
      ObjectType="AppModule" >
   </Containee>
   <Containee
      Name="XXTestVO"
      FullName="oracle.apps.sfc.clm.InvoiceBulkUpload.server.XXTestVO"
      ObjectType="ViewObject" >
   </Containee>
</JboPackage>
